# Data Types and Structures Questions

In [ ]:
#1 what are data structure and why it is important?
  #Data structures are a way to organize, manage, and store data so we  can  use it  efficiently

In [ ]:
# 2. Expalin the different bitween mutability and immutability data type with example?
  #mutability describe whether an object's value can be changed after its creation and in immutablity data can be changed after creation
  #example list id mutable and tuple is immutable

In [ ]:
# 3. What are main diffrent bitween list and tuple in python?
  #list is mutable and tuple is immutable

In [ ]:
#4. Discribe how dictonary store data
  #Dictionary store data  data in form of key: value formate

In [ ]:
#5. Why might you use a set instead of a list in Python?
  # set store only unique data not duplicate

In [ ]:
#6. What is a string in Python, and how is it different from a list?
  #in python list is mutable and string is immutable

In [ ]:
#7. How do tuples ensure data integrity in Python?
  #Tuples ensure data integrity in Python primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed

In [ ]:
#8. What is a hash table, and how does it relate to dictionaries in Python?
  #A hash table, also known as a hash map or associative array, is a data structure that stores key-value pairs. It uses a hash function to map keys to indices in an array, allowing for efficient retrieval of values based on their associated keys. The hash function takes a key as input and produces a numerical hash value, which is then typically used to calculate an array index where the corresponding value is stored. This design enables average-case constant-time complexity (O(1)) for operations like insertion, deletion, and lookup.
#In Python, dictionaries (dict) are implemented using hash tables. When a key-value pair is added to a dictionary, Python's internal mechanisms compute a hash value for the key and use it to determine where in memory to store the key and its associated value. When a value is retrieved using a key, the same hashing process quickly locates the corresponding value. This underlying hash table implementation is what makes Python dictionaries highly efficient for managing and accessing data by unique keys.

In [49]:
#9. Can lists contain different data types in Python?
#list store heterogenous data is means list can store all tpye of data
list=[1,2,3,4,"5",3+5j,"true","sujata"]
print(list)

[1, 2, 3, 4, '5', (3+5j), 'true', 'sujata']

In [ ]:
#10. Explain why strings are immutable in Python
#Strings are immutable in Python, meaning their content cannot be changed after creation. This design choice offers several advantages:Safety and Predictability,Hashing and Dictionary Keys,Memory Optimization

In [ ]:
#11. What advantages do dictionaries offer over lists for certain task
  #Dictionaries in Python offer faster data retrieval and more efficient storage of related data compared to lists, especially when dealing with large datasets or when needing to quickly access elements based on a unique identifier. Lists are more suitable when order or sequential access is crucial.

In [ ]:
# 12. Describe a scenario where using a tuple would be preferable over a list.
  #Lists are mutable, allowing you to modify their content, while tuples are immutable, meaning you can't change them after creation. You should prefer tuples when you need an immutable sequence, such as function return values or constant data.

In [ ]:
#13. How do sets handle duplicate values in Python?
  # Sets in Python inherently do not allow duplicate values. They are designed to store unique elements. When an attempt is made to add a duplicate element to a set, the set simply ignores the addition, and the existing element remains in the set. The set's size does not increase, and no error is raised

In [ ]:
#14. How does the “in” keyword work differently for lists and dictionaries?
  #In Python, the in keyword functions differently for lists and dictionaries when checking for membership. For lists, in checks if a value exists as an element within the list, returning True if found and False otherwise. In contrast, for dictionaries, in checks if a value exists as a key within the dictionary, not as a value associated with a key.

In [ ]:
#15. Can you modify the elements of a tuple? Explain why or why not.
  #No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. If you try to modify a tuple, you will get a TypeError. However, you can create a new tuple with the desired changes

In [ ]:
#16. What is a nested dictionary, and give an example for its use case?
  #A nested dictionary in Python is a dictionary that contains other dictionaries as values. This allows for representing hierarchical data structures, similar to how JSON objects are structured. Essentially, you have a dictionary where the values are themselves dictionaries, creating a nested structure of key-value pairs

In [ ]:
#17. Describe the time complexity of accessing elements in a dictionary.
  # The time complexity of accessing elements in a dictionary (or hash map) is O(1) on average, but can be O(n) in the worst case, where 'n' is the number of elements in the dictionary.

In [ ]:
#18. In what situations are lists preferred over dictionaries?
  #Lists are preferred over dictionaries when the order of elements matters, when you need to access elements by their position (index), or when the data is inherently sequential and doesn't require key-based lookups. Dictionaries are more efficient for key-value lookups and when order is not important.

In [ ]:
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  #Dictionaries are considered unordered because they do not inherently maintain the order in which key-value pairs are inserted. This means that when you iterate through a dictionary or access its elements, the order in which they are returned is not guaranteed to be the same as the order they were added. While newer versions of Python (3.7+) do preserve insertion order as an implementation detail, dictionaries are still primarily optimized for fast key-based lookups, not for ordered access.

In [ ]:
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
  #In Python, lists and dictionaries differ significantly in how data is retrieved. Lists are ordered collections accessed by numerical indices, while dictionaries are unordered collections accessed by unique keys. This fundamental difference impacts the speed and purpose of data retrieval.

#Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it.
Name="Manmohan Singh Batham"
print(Name)

Manmohan Singh Batham

In [ ]:
#2. Write a code to find the length of the string “Hello World”.
string="Hello World"
len(string)

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string “Python Programming”.
string1="manmohan"
string1[0:-5]

'man'

In [ ]:
#4. Write a code to convert the string “hello” to uppercase.
String="hello"
String.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word “apple” with “orange” in the string “I like apple”.
String="I like apple"
String.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list=["1","2","3","4","5"]
print(list)

['1', '2', '3', '4', '5']

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list [‘a’, ‘b’, ‘c’, ‘d’].
list=['a','b','c','d']
list[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [2]:
#12. Write a code to access the second-to-last element of the tuple (‘red’, ‘green’, ‘blue’, ‘yellow’)
tuple=('red','green','blue','yellow')
tuple[-2]

'blue'

In [3]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
min(tuple)

5

In [4]:
#14. Write a code to find the index of the element “cat” in the tuple (‘dog’, ‘cat’, ‘rabbit’).
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

In [5]:
#15. Write a code to create a tuple containing three different fruits and check if “kiwi” is in it.
tuple=('apple','banana','kiwi')
'kiwi' in tuple

True

In [6]:
#16. Write a code to create a set with the elements {‘a’, ‘b’, ‘c’} and print it.
set={'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [7]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [8]:
#18. Write a code to remove the element 4 from the set {1, 2, 3,4}
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [9]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [10]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [12]:
#21. Write a code to create a dictionary with the keys “name”, “age” and “city”, and print it.
dictionary = {"name":"Manmohan Sing Batham","Age":"35","city":"Ujjain"}
print(dictionary)

{'name': 'Manmohan Sing Batham', 'Age': '35', 'city': 'Ujjain'}

In [14]:
#22. Write a code to add a new key-value pair “country”: “USA” to the dictionary {“name”: “John”, “age”: 25}.
dict = {"name":"John","age":"25"}
dict["county"]="usa"
print(dict)

{'name': 'John', 'age': '25', 'county': 'usa'}

In [28]:
#23. Write a code to access the value associated with the key “name” in the dictionary {“name”: “Alice”, “age”: 30}.
dict1={"name":"Alice", "Age":"30"}
print(dict1["name"])

Alice

In [29]:
#25. Write a code to check if the key “city” exists in the dictionary {“name”: “Alice”, “city”: “Paris”}.
dict2 = {"name":"Alice","city":"paris"}
if "city" in dict2:
  print("the city exist inthe dictionary")
else:
    print("the city not exist inthe dictionary")

the city exist inthe dictionary

In [30]:
#26. Write a code to create a list, a tuple, and a dictionary and print them all.
list=[100,99,98,97,96,95]
tuple=("manmohan","bhawana","sujata","nandani")
dict3={"name":"manmohan","wife":"nandani","gf":"sujata"}
print(list)
print(tuple)
print(dict3)

[100, 99, 98, 97, 96, 95]
('manmohan', 'bhawana', 'sujata', 'nandani')
{'name': 'manmohan', 'wife': 'nandani', 'gf': 'sujata'}

In [34]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list=[22,76,34,98,2]
list.sort()
print("sorted list",list)

sorted list [2, 22, 34, 76, 98]

In [36]:
#28. Write a code to create a list with strings and print the element at the third index.
list=["manmohan","sujata","nandani","bhawna","rakhi"]
print("the element at the third index :",list[3])

the element at the third index : bhawna

In [42]:
#29. Write a code to combine two dictionaries into one and print the result.
dict4={"name":"manmohan","age":"35","city":"ujjain"}
dict5={"name":"sujata","age":"34","city":"kasrawad"}
combine_dict = {**dict4 ,**dict5}
print(combine_dict)

{'name': 'sujata', 'age': '34', 'city': 'kasrawad'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
cloth_list=["shirt","lower","t-shirt","paint","dhoti","kurta"]
cloth_set=set(cloth_list)
print(cloth_set)